.formulario {
  width: 45vw;
  height: 85vh;
  border-color: #001367;
}

.cierra {
  background-color: gray;
}

.input {
  width: 10vw;
  margin-top: 30px;
  margin-left: 40px;
  mat-label {
    color: #001367;
  }
}

.botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
  button{
    background-color: #001367;
  }
}

#corto {
  width: 15vw;
}

.superindice {
  vertical-align: super;
  font-size: smaller;
}

.titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  font-size: 25px;
  font-weight: 500;
  color: #001367;
}

.fecha{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  button{
    background-color: #001367;
    margin-left: 10px;
  }
}

.delete{
  background-color: red !important;
  color: white !important;
}
