:root{
  --bonoloto: #7a8634;
  --eurodreams: #6b3e98;
  --euromillones: #001367;
  --lototurf: #d16929;
  --nacional: #007ac0;
  --quiniela: #cb1517;
  --primitiva: #008547;
  --quinigol: rgba(64, 186, 206, 0.7);
  --quintuple: #eab842;
  --gordo: #dc3f47;
}

