<div>
  <br>
  <form id="formulario" #formulario="ngForm" (ngSubmit)="login(formulario)">
    <div>
      <h1 class="main">Loteria <span>Viveiro</span></h1>
      <h4 class="submain">Iniciar Sesión</h4>
    </div>
    <div>
      <label class="labelform">Correo Electrónico <span>*</span></label>
      <input type="email" name="email" placeholder="Email" class="mailform" ngModel>
    </div>
    <div>
      <label class="labelform">Contraseña <span>*</span></label>
      <input type="password" name="password" placeholder="Password" class="passform"ngModel>
    </div>
    <div id="form-check">
      <input type="checkbox" name="remember" class="form-check-input">
      <label for="remember">Recuérdame</label>
    </div>
    <div>
      <button class="loginboton" type="submit" (click)="saltarLog()">Sign in</button>
    </div>
  </form>
</div>
