<form [formGroup]="publicacionForm" class="formulario">
  <div class="titulo">LOTOTURF</div>

  <div class="fecha">
    <mat-form-field class="input">
      <mat-label>Fecha:</mat-label>
      <input matInput formControlName="fecha" readonly>
    </mat-form-field>
    </div>

  <mat-form-field class="input">
    <mat-label> Jornada: </mat-label>
    <input matInput type="text" formControlName="jornada" readonly>
  </mat-form-field>

  <mat-form-field class="input" *ngFor="let serie of [1, 2, 3, 4, 5, 6]">
    <mat-label *ngIf="serie==1||serie==3"> {{ serie }}<span class="superindice">er</span> número: </mat-label>
    <mat-label *ngIf="serie!=1&&serie!=3"> {{ serie }}º número: </mat-label>
    <mat-select formControlName="comb{{ serie }}">
      <mat-option *ngFor="let numero of numeros" [value]="numero">{{numero}}</mat-option>
    </mat-select>
    <mat-error *ngIf="publicacionForm.get('comb' + serie)?.invalid && publicacionForm.get('comb' + serie)?.touched">
      La combinación es necesaria.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input" id="corto">
    <mat-label> Caballo ganador: </mat-label>
    <mat-select formControlName="comp">
      <mat-option *ngFor="let numero of numerosC" [value]="numero">{{numero}}</mat-option>
    </mat-select>
    <mat-error *ngIf="publicacionForm.get('comp')?.invalid && publicacionForm.get('comp')?.touched">
      El caballo ganador es necesario.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="input" id="corto">
    <mat-label> Reintegro: </mat-label>
    <mat-select formControlName="reintegro">
      <mat-option *ngFor="let numero of numerosR" [value]="numero">{{numero}}</mat-option>
    </mat-select>
    <mat-error *ngIf="publicacionForm.get('reintegro')?.invalid && publicacionForm.get('reintegro')?.touched">
      El reintegro es necesario.
    </mat-error>
  </mat-form-field>

  <div class="botones">
    <button mat-raised-button color="primary" type="submit" [disabled]="publicacionForm.invalid"
      (click)="onSubmit()">Enviar</button>
    <button mat-raised-button color="primary" (click)='closeDialog()' class="cierra">Cerrar</button>
    <button mat-raised-button color="primary" (click)='eliminarLototurf()' class="delete">Eliminar</button>
  </div>
</form>
