<div class="contenedor">
  <div class="ganador">
    <div class="head">
      <div class="logo"></div>
      <p>QUINIGOL</p>
      <p>Jornada {{data.jornada}}ª - {{data.fecha | date: 'shortDate' }}</p>
      <mat-icon>add</mat-icon>
    </div>
    <div class="ganador__combinacion">
      <div class="combi">
        <div class="partido" *ngFor="let partido of data.partidos; track partido; let  i = index">
          <p>{{i+1}}.{{partido.local}}</p>
          <p>-</p>
          <p>{{partido.visitante}}</p>
          <p class="partido__marcador">{{partido.resultado}}</p>
          <p class="partido__resultado">{{obtenerResultado(partido.resultado)}}</p>
          <mat-icon (click)="editarPartido(partido)">add</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="botones">
    <button mat-raised-button class="boton" (click)="closeDialog()">Cerrar</button>
    <button mat-raised-button class="delete" (click)="eliminarQuinigol()">Eliminar</button>
  </div>
</div>
