<div class="body">
  <div class="header">
    <div class="header__text"> Eurodreams</div>
    <div class="btn_wrapper">
      <button class="header__btn" (click)="generarGanador()">Nuevo ganador</button>
      <button class="header__btn" (click)="generarBote()">Nuevo bote</button>
    </div>
  </div>
  <div class="contenedor">
    <div class="ganadores">
      GANADORES
      <div class="ganador" *ngFor="let item of bonoloto">
        <div class="head">
          <div class="logo"></div>
          <p>EURODREAMS</p>
          <p>{{item.fecha | date: 'shortDate' }}</p>
          <mat-icon (click)="editEurodreams(item)">add</mat-icon>
        </div>
        <div class="ganador__combinacion">
          <div class="combi">
            <div class="numero-combi" *ngFor="let item of item.combinacion">
              {{item}}
            </div>
          </div>
          <div class="extras">
            <div class="columna">
              <div class="numero-combi comp">{{item.suenho}}</div>
              <p>Sueño</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="botes">
      BOTES
      <div class="bote" *ngFor="let item of botes">
        <div class="head">
          <div class="logo"></div>
          <p>EURODREAMS</p>
          <p>{{item.fecha | date: 'shortDate'}}</p>
          <mat-icon (click)="eliminarBote(item)">delete</mat-icon>
        </div>
        <div class="bote__cantidad">{{millones(item.cantidad)}}</div>
      </div>
    </div>
  </div>
</div>
